doctype html
html(lang='en')
  head !{metadata}
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    if clientStyles
      each style in clientStyles
        link(rel='stylesheet', href=style)
  body
    #root !{body}

    if production
      each script in bundledScript
        script(src=script, defer)
    else 
      each script in bundledScript
        script(src=script, defer, crossorigin)
