doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content=content)
    if clientStyles
      link(rel='stylesheet', href=clientStyles)

    title #{title}
  body
    #root !{body}

    if production
        script(src=bundledScript, defer)
    else 
        script(src=bundledScript, defer, crossorigin)